body {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
    background: #778d37;
}
h1 {
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0d310c;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    min-width: 555px;
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    background: url("../img/fon.png") repeat fixed;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.main-header h1 {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0d310c;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6%;
    padding-right: 6%;
    border-top: 1px solid #0d310c;
}
.main-menu a {
    width: 33%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
    color: #f6c407;
}
.main-menu a:first-child {
    text-align: left;
}
.main-menu a:nth-child(2) {
    text-align: center;
}
.main-menu a:last-child {
    text-align: right;
}
.main-menu a:hover {
    color: #ffffff;
}
.main-menu .active {
    color: #ffffff;
}
.main-content {
    color: #0d310c;
    min-height: 350px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #0d310c;
    border-bottom: 1px solid #0d310c;
}
.main-content a {
    text-decoration: none;
    color: #f6c407;
}
.main-content a:hover {
    color: #ffffff;
}
.main-foto {
    float: left;
    width: 33%;
    text-align: left;
    padding-top: 30px;
}
.main-foto img {
    width: 80%;
    border: 2px solid #0d310c;
}
.main-text {
    float: right;
    text-align: justify;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 57%;
}
.main-text p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-indent: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.main-cv{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.main-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 130px;
}
.footer-column {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.contacts {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0d310c;
}
.contacts a {
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    color: #f6c407;
}
.contacts a:hover {
    color: #ffffff;
}
.social-btn .fa {
    font-family: "FontAwesome";
    font-size: 32px;
}
.social-btn a {
    text-decoration: none;
    white-space: nowrap;
    color: #f6c407;
}
.social-btn a:hover {
    color: #ffffff;
}
.academy-prof {
    position: relative;
}
.fa-academy-prof:after {
    width: 26px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: 5px;
    content: "";
    background: url("../img/logo-academy-el.png") no-repeat;
}
.fa-academy-prof:hover:after {
    background: url("../img/logo-academy-w.png") no-repeat;
}
.link-academy a {
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    color: #f6c407;
}
.link-academy a:hover {
    color: #ffffff;
}
/*skills*/

.main-content-skills {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
    min-height: 350px;
    color: #0d310c;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #0d310c;
    border-bottom: 1px solid #0d310c;
}
.main-content-skills h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}
.main-content-skills a {
    font-weight: bold;
    text-decoration: none;
    color: #f6c407;
}
.main-content-skills a:hover {
    color: #ffffff;
}
.main-skills {
    width: 57%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-certificate {
    width: 23%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-certificate img {
    width: 100px;
    height: 150px;
    border: 1px solid #0d310c;
}
.popap-certificate {
    display: none;
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    height: 495px;
    background: #ffffff url("../img/HTMLAcademy-16605.jpeg") no-repeat;
    background-size: 100%;
    border: 1px solid #0d310c;
    box-shadow: 0px 10px 60px -5px #000000;
}
.popap-certificate-show {
    display: block;
}
.popap-certificate .popap-close {
    font-family: "FontAwesome";
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: transparent;
}
/*impose*/

.main-content-impose a {
    font-weight: bold;
    text-decoration: none;
    color: #f6c407;
}
.main-content-impose a:hover {
    color: #ffffff;
}
.main-content-impose {
    min-height: 350px;
    color: #0d310c;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #0d310c;
    border-bottom: 1px solid #0d310c;
}
.main-content-impose h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}
.main-content-impose p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.main-content-impose a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.project-nerds {
    width: 40%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.project-nerds img {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: 1px solid #0d310c;
}
.project-nerds h2 {
    margin-left: 10px;
}
.popap-nerds-index {
    display: none;
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 50%;
    margin-left: -175px;
    width: 340px;
    height: 630px;
    background: #ffffff url("../img/nerds1.jpg") no-repeat;
    background-size: 100%;
    border: 1px solid #0d310c;
    box-shadow: 0px 10px 60px -5px #000000;
}
.popap-nerds-index:target {
    display: block;
}
.popap-nerds-catalog {
    display: none;
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 50%;
    margin-left: -175px;
    width: 340px;
    height: 630px;
    background: #ffffff url("../img/nerds-katalog2.png") no-repeat;
    background-size: 100%;
    border: 1px solid #0d310c;
    box-shadow: 0px 10px 60px -5px #000000;
}
.popap-nerds-catalog:target {
    display: block;
}
.project-nerds .popap-close {
    font-family: "FontAwesome";
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: transparent;
}
.project-sedona {
    width: 40%;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.project-sedona img {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: 1px solid #0d310c;
}
.project-sedona h2 {
    margin-left: 10px;
}
.popap-sedona-index {
    display: none;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 720px;
    background: #ffffff url("../img/sedona-index-768.jpg") no-repeat;
    background-size: 100%;
    border: 1px solid #0d310c;
    box-shadow: 0px 10px 60px -5px #000000;
}
.popap-sedona-index:target {
    display: block;
}
.popap-sedona-catalog {
    display: none;
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 480px;
    background: #ffffff url("../img/sedona-768.jpg") no-repeat;
    background-size: 100%;
    border: 1px solid #0d310c;
    box-shadow: 0px 10px 60px -5px #000000;
}
.popap-sedona-catalog:target {
    display: block;
}
.project-sedona .popap-close {
    font-family: "FontAwesome";
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: transparent;
}
.show-project {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    background: #0d310c;
    width: 150px;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    opacity: 0.7;
    box-shadow: 0px 0px 60px -5px #000000;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -95px;
}
.show-project:hover {
    background: #f6c407;
    border: 1px solid #0d310c;
    width: 148px;
}