body{
margin:0;
padding:0;
background:#81983f fixed;
background-size:100%;


}
.container{
    min-width:378px;
    max-width:1200px;
    padding-left:6%;
    padding-right:6%;
    
}
.main-header{
    height:100px;
    padding-bottom:30px;
    }
.main-header h1{ 
   
    text-transform:uppercase;
    font-family:"PT Sans", "Arial", sans-serif;
    font-size:28px;
    color:#0d310c;
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:5%;
    padding-right:5%;
}
.main-menu{
   font-family:"PT Sans", "Arial", sans-serif;
}
.main-menu a{
    padding-left:5%;
    padding-right:5%;
    width:40%;
    text-decoration:none;
    text-transform:uppercase;
    text-align:left;
    display:inline-block;
    vertical-align:top;
    font-size:22px;
    font-weight:bold;
    white-space:nowrap;
    color:#f6c407;  
    
}
.main-menu a:hover{color:#ffffff;}

.main-menu .active{color:#ffffff;}

.main-content{
   
color:#0d310c;
height:300px;
padding-left:20px;
padding-top:20px;
padding-bottom:20px;
}
.main-content a{ text-decoration:none;
white-space:nowrap;
    color:#f6c407;  }
.main-content a:hover {color:#ffffff;}
.content-column{
    display:inline-block;
    vertical-align:middle;
    
}
.main-foto{
    width:33%;
    text-align:left;}
.main-foto img{
    width:80%;
    border:2px solid #0d310c; }  
.main-text{
    text-align:justify;
    padding-left:5%;
    padding-right:5%;
    width:57%;
}

.main-text p{
    font-family:"PT Sans", "Arial", sans-serif;
    font-size:20px;
    text-indent:10px;
    overflow: hidden;
}
.main-footer{
    padding-top:10px;
    padding-bottom:10px;
    height:130px;
}
.main-footer a{ text-decoration:none;
white-space:nowrap;
    color:#f6c407;  }
.main-footer a:hover {color:#ffffff;}
.footer-column{
    width:33%;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
}
.contacts{
    font-family:"PT Sans", "Arial", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#0d310c;
   }
.contacts a{
    text-transform:uppercase;
    font-family:"PT Sans", "Arial", sans-serif;
    font-weight:bold;
    
}

.social-btn .fa{
    font-family:font-family: "FontAwesome";
    font-size:32px;
    
    
}
.academy-prof{position:relative;}

.fa-academy-prof:after{
    width:26px;
    height:32px;
    position:absolute;
    top:-10px;
    left:5px;
    content:"";
    background:url("../img/logo-academy-el.png") no-repeat;
}
.fa-academy-prof:hover:after{
    
    background:url("../img/logo-academy-w.png") no-repeat;
}
.link-academy a{
    text-transform:uppercase;
    font-family:"PT Sans", "Arial", sans-serif;
    font-size:20px;
    font-weight:bold;
}